
@{
    /**/

    ViewBag.Title = "ThankyouArabic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br /><br /><br /><br />
<center>
    <h1 style="color:green;">شكرا لك على التقديم</h1>
</center>
<div class="navbar-brand navbar-fixed-bottom" style="background:#3276be">

</div>

@*@if(ViewBag.Title == "WaadAcademy" || ViewBag.Title == "Bloom")
{

}*@
