
@{
    /**/

    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br /><br /><br /><br />
<center>
    <h1 style="color:green;">Thank you for submission!</h1>
</center>
<div class="navbar-brand navbar-fixed-bottom" style="background:#3276be">

</div>
